.AppContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoWrapper {
  padding: 32px 0 0 0;
  min-width: 360px;
  display: flex;
  justify-content: center;
}

.Wrapper {
  display: flex;
  width: 100%;
}

.UpperWrapper {
  width: 100vw;
  background-color: var(--white);
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 360px;
}

.sendMessages {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-scale-1);
  height: 100%;
  min-height: 475px;
  min-width: 360px;
  margin-top: 16px;
  padding: 16px;
}

.inputWrapper {
  width: 100%;
  max-width: 360px;
}

.wrapperLoading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendedMessage {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}

.typeBelowWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newMessage {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.insertMessage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
}

.typeBelow {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  display: flex;
}
