:root {
  --gray-scale-1: #f2f2f2;
  --gray-scale-3: #cccccc;
  --gray-scale-4: #b2b2b2;
  --gray-scale-5: #999999;
  --white: #ffffff;
  --green: #0fae79;
  --text: #4d4d4d;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white);
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Poppins', monospace;
}
